# exclude the Qt Creator files
*.files
*.includes
*.config
*.creator
*.creator.user
*.autosave

#exlude object files
*.o

# exclude copies
*~

#exclude build directory
install/*

#include build/CMAke
build/*
!build/CMakeLists.txt
